@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <label for="SearchField">SearchField</label>
    <input type="text" id="SearchField" name="SearchField">
</div>

<div class="contractList">@{}</div>
